# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Data
server/data.json

# Build
client/build/
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~






client/.env
